USE [master]
GO
/****** Object:  Database [GAI]    Script Date: 06.12.2021 11:43:38 ******/
CREATE DATABASE [GAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GAI]
GO
/****** Object:  Table [dbo].[Avto]    Script Date: 06.12.2021 11:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avto](
	[Id_Avto] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[VIN] [nvarchar](50) NULL,
	[Manu] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[God] [int] NULL,
	[Wei] [int] NULL,
	[Color] [int] NULL,
	[Engine_Type] [int] NULL,
	[Type_od] [nvarchar](50) NULL,
 CONSTRAINT [PK_Avto] PRIMARY KEY CLUSTERED 
(
	[Id_Avto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 06.12.2021 11:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[Passport] [nvarchar](50) NULL,
	[Post] [int] NULL,
	[Addres] [nvarchar](50) NULL,
	[AdressLife] [nvarchar](50) NULL,
	[Company] [nvarchar](50) NULL,
	[JobName] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Photo] [nvarchar](50) NULL,
	[Descrip] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prava]    Script Date: 06.12.2021 11:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prava](
	[Id_prava] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[licence_date] [date] NULL,
	[expire_date] [date] NULL,
	[categories] [nvarchar](50) NULL,
	[licence_series] [nvarchar](50) NULL,
	[licence number] [nchar](10) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Prava] PRIMARY KEY CLUSTERED 
(
	[Id_prava] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Regi]    Script Date: 06.12.2021 11:43:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regi](
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Dolsh] [nvarchar](50) NULL,
 CONSTRAINT [PK_Regi] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Avto] ([Id_Avto], [ID], [VIN], [Manu], [Model], [God], [Wei], [Color], [Engine_Type], [Type_od]) VALUES (1, 1, N'WBAKG7C54DJ746310', N'BMW', N'1-Series', 2009, 1794, 116, 3, N'front-wheel drive')
INSERT [dbo].[Avto] ([Id_Avto], [ID], [VIN], [Manu], [Model], [God], [Wei], [Color], [Engine_Type], [Type_od]) VALUES (2, 2, N'JN1CV6APXCM884333', N'BMW', N'1-Series', 2018, 1523, 118, 3, N'front-wheel drive')
INSERT [dbo].[Avto] ([Id_Avto], [ID], [VIN], [Manu], [Model], [God], [Wei], [Color], [Engine_Type], [Type_od]) VALUES (3, 3, N'2C4RDGCG2FR292116', N'BMW', N'2-Series', 1994, 1750, 120, 2, N'front-wheel drive')
GO
INSERT [dbo].[Drivers] ([ID], [Name], [LastName], [FirstName], [Passport], [Post], [Addres], [AdressLife], [Company], [JobName], [Phone], [Email], [Photo], [Descrip]) VALUES (1, N'Alonso', N'Hopkins', N'Caleb', N'2303 160716', 760832, N'452 Cobblestone St.', N'477 Southampton Avenue', N'Global Gillette', N'Reporter', N'+7(970)383-8933', N'skippy@icloud.com', N'001-happy-18.png', N'')
INSERT [dbo].[Drivers] ([ID], [Name], [LastName], [FirstName], [Passport], [Post], [Addres], [AdressLife], [Company], [JobName], [Phone], [Email], [Photo], [Descrip]) VALUES (2, N'Kaydence', N'Sellers', N'Susannah', N'5563 160745', 807042, N'Hyattsville, MD 20782', N'Men asha, WI 5495 2', N'Coca-Cola', N'Elementary School Teacher', N'+7(867)708-4447', N'isotopian@sbcglobal.net', N'002-cool-5.png', N'')
INSERT [dbo].[Drivers] ([ID], [Name], [LastName], [FirstName], [Passport], [Post], [Addres], [AdressLife], [Company], [JobName], [Phone], [Email], [Photo], [Descrip]) VALUES (3, N'Finnegan', N'Bray', N'Brighton', N'3719 717453', 83282, N'9648 Philmont Lane', N'966 8 Glendale Co urt', N'Harley-Davidson Motor Company', N'Childcare worker', N'+7(221)428-7850', N'isaacson@att.net', N'003-happy-17.png', N'')
GO
INSERT [dbo].[Prava] ([Id_prava], [ID], [licence_date], [expire_date], [categories], [licence_series], [licence number], [Status]) VALUES (1, 1, CAST(N'2019-01-13' AS Date), CAST(N'2027-07-03' AS Date), N'B', N'5640', N'613073    ', N'Active')
INSERT [dbo].[Prava] ([Id_prava], [ID], [licence_date], [expire_date], [categories], [licence_series], [licence number], [Status]) VALUES (2, 2, CAST(N'2018-08-02' AS Date), CAST(N'2023-09-21' AS Date), N'B', N'7465', N'904246    ', N'Active')
INSERT [dbo].[Prava] ([Id_prava], [ID], [licence_date], [expire_date], [categories], [licence_series], [licence number], [Status]) VALUES (3, 3, CAST(N'2018-12-31' AS Date), CAST(N'2025-01-25' AS Date), N'B, A', N'6750', N'769897    ', N'Active')
GO
INSERT [dbo].[Regi] ([Login], [Password], [Dolsh]) VALUES (N'Inspector1', N'121212', N'Инспектор')
GO
ALTER TABLE [dbo].[Avto]  WITH CHECK ADD  CONSTRAINT [FK_Avto_Drivers] FOREIGN KEY([ID])
REFERENCES [dbo].[Drivers] ([ID])
GO
ALTER TABLE [dbo].[Avto] CHECK CONSTRAINT [FK_Avto_Drivers]
GO
ALTER TABLE [dbo].[Prava]  WITH CHECK ADD  CONSTRAINT [FK_Prava_Drivers] FOREIGN KEY([ID])
REFERENCES [dbo].[Drivers] ([ID])
GO
ALTER TABLE [dbo].[Prava] CHECK CONSTRAINT [FK_Prava_Drivers]
GO
USE [master]
GO
